body,
html {
    padding: 10;
    margin: 10;
    font-family: 'Roboto', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

div {
    padding: 0px;
    margin: 2px;
}