a.filter-show-item {
    margin: 0 8px;
    &.active {
        color: #838c91;
        cursor: default;
        text-decoration: none;
    }
}

.filter-show-item {
    .filter-holder {
        color: aquamarine;
    }
}